@model EXPEDIT.Transactions.ViewModels.OrderViewModel
@Html.Partial("Header")
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Purchase").ToString();
}
<script type="text/javascript">$('#affiliateLinkedIn').css('display', 'none');</script>
@using (Html.BeginForm("Buy", "User", new { area = "EXPEDIT.Transactions" }, FormMethod.Post, new { id = "form1", @class = "form" }))
{
@Html.AntiForgeryToken()
<table class="table" style="border:none;">
<thead>
<tr><th width="75px"></th><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Products.Where(f => !string.IsNullOrWhiteSpace(f.Title)))
    {
        Html.RenderPartial("BuyProductPartial", p);

    }
    <tr>
        <td></td>
        <td>
            <p>@Html.LabelFor(f => f.OrderTerms)</p>
            <p>@Html.TextAreaFor(f=> f.OrderTerms, 7, 70, new {@readonly=true, style="width:100%; min-height:152px !important;"})</p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><p style="text-align:right;"><button class="btn btn-info" onclick="javascript:$('#form1').submit()">Agree</button></p></td>
    </tr>        

</tbody>
</table>
<p style="margin-top:20px;text-align:right;"><small>*Excluding local government taxes and charges. May be subject to GST.</small></p>
@Html.HiddenFor(x => x.OrderID);
}