@model EXPEDIT.Transactions.ViewModels.OrderViewModel
@Html.Partial("Header")
@using Braintree;
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Confirm Order").ToString();
}
@if (Model == null || Model.Products == null || !Model.Products.Any(f=>f.Subtotal > 0)) {
    <h2>No Items In Your Cart</h2>
    <p>Please continue <a href="@Url.Action("Index", "User")">shopping.</a></p>
} else {
    <script type="text/javascript">$('#affiliateLinkedIn').css('display', 'none');</script>
    @*@using (Html.BeginFormAntiForgeryPost(Url.Action(string.Format("{0}", ViewData["TransparentRedirectUrl"]), "User", new { area = "EXPEDIT.Transactions", Controller = "User", Action = "Index" }), FormMethod.Post, new { id = "payment-form", @class = "payment-form" }))*@
    using (Html.BeginFormAntiForgeryPost(string.Format("{0}", Model.PaymentRedirectURL), FormMethod.Post, new { id = "payment-form", @class = "payment-form" }))
    {
      
          <input type='hidden' name='tr_data' value='@Model.PaymentData' />
    <div>
        <div class="form-inline">
            <h2>Customer Information</h2>
            <div class="form-group">
                <label for='customer_first_name'>First Name <i class="icon icon-double-angle-down"></i></label>
                <input type='text' name='customer[first_name]' id='customer_first_name' value="@Model.PaymentFirstname" required></input>
            </div>
            <div class="form-group">
                <label for='customer_last_name'>Last Name <i class="icon  icon-double-angle-down"></i></label>
                <input type='text' name='customer[last_name]' id='customer_last_name' value="@Model.PaymentLastname" required></input>
            </div>
            <div class="form-group">
                <label for='customer_email'>Email <i class="icon  icon-double-angle-down"></i></label>
                <input type='text' name='customer[email]' type="email" id='customer_email' value="@Model.PaymentEmail" required></input>
            </div>
        </div>
            <div class="form-inline">
                <h2>Billing Address</h2>
                <div class="form-group">
                    <label for='customer_company'>Company</label>
                    <input type='text' name='customer[company]' id='customer_company' value="@Model.PaymentCompany"></input>
                </div>
                <div class="form-group">
                    <label for='customer_phone'>Phone <i class="icon  icon-double-angle-down"></i> (international format)</label>
                    <input type='text' name='customer[phone]' id='customer_phone' value="@Model.PaymentPhone" placeholder="Ex. +61755555555" required></input>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for='billing_street_address'>Street Address <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][billing_address][street_address]' id='billing_street_address' value="@Model.PaymentStreet" required></input>
                </div>
                <div class="form-group">
                    <label for='billing_extended_address'>Extended Address</label>
                    <input type='text' name='customer[credit_card][billing_address][extended_address]' id='billing_extended_address' value="@Model.PaymentStreetExtended"></input>
                </div>
                <div class="form-group">
                    <label for='billing_locality'>Locality <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][billing_address][locality]' id='billing_locality' value="@Model.PaymentLocality" required></input>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for='billing_region'>Region <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][billing_address][region]' id='billing_region' value="@Model.PaymentRegion" required></input>
                </div>
                <div class="form-group">
                    <label for='billing_country_name'>Country <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][billing_address][country_name]' id='billing_country_name' value="@Model.PaymentCountry" autocomplete="off" required></input>
                </div>
                <div class="form-group">
                    <label for='billing_postal_code'>Postal Code <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][billing_address][postal_code]' id='billing_postal_code' value="@Model.PaymentPostcode" required></input>
                </div>
            </div>

          
            <div class="form-inline">
                    
                <h2>Credit Card</h2>
                <div class="form-group">
                    <label for='braintree_credit_card_number'>Credit Card Number <i class="icon  icon-double-angle-down"></i></label>
                    <input type='text' name='customer[credit_card][number]' id='braintree_credit_card_number' placeholder="Ex. 4111111111111111" />
                </div>
                <div class="form-group">
                    <label for='braintree_credit_card_exp'>Credit Card Expiry <i class="icon  icon-double-angle-down"></i> (mm/yyyy)</label>
                    <input type='text' name='customer[credit_card][expiration_date]' id='braintree_credit_card_exp' placeholder="Ex. 12/2015" required />
                </div>
            </div>
            <input class='submit-button btn btn-primary' type='submit' />
        </div>

            }

            <script type="text/javascript">
                jQuery.validator.setDefaults({
                    debug: false,
                    success: "valid"
                });
                $("#payment-form").validate({
                    rules: {
                        "customer[credit_card][expiration_date]": {
                            required: true,
                            dateCC: true
                        },
                        "customer[credit_card][number]": {
                            required: true,
                            creditcard: true
                        },
                        "customer[email]": {
                            required: true,
                            email2: true
                        },
                    },
                    submitHandler: function (form) {
                        // let's select and cache all the fields
                        //var inputs = $('#payment-form').find("input, select, button, textarea, hidden");
                        // let's disable the inputs for the duration of the ajax request
                        //inputs.prop("disabled", true);
                        alertify.log("Please wait while we process your payment. Payment may take up to 30 seconds.", null, 0);
                        form.submit();
                    }
                });

                $("#billing_country_name").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/share/getcountries/" + request.term,
                            type: "GET",
                            dataType: "json",
                            //data: { id: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.Text, value: item.Text, id: item.Text
                                    }
                                }))
                            }
                        })
                    }
                });

            </script>
            }
