@model EXPEDIT.Transactions.ViewModels.AccountViewModel
<table class="table table-striped">
<thead>
<tr><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Invoices) {
<tr>   
<td>
    @p.InvoiceID
@*<h4>&#35;@p.PagedRow @p.ContactName @p.RegardingName @(p.ProductName ?? p.SubjectName) <small>@p.StatusName</small></h4>
<p>@Html.Raw(p.Comment)...</p>
<p>@(@p.Updated != null ? "<strong>Last Updated: " + @p.Updated +"</strong>" : null)<a style="float:right;" class="btn btn-small" href="@Url.Action("updateticket", new { area="EXPEDIT.Tickets", controller="User", id=p.CommunicationID})">open</a></p>*@
</td>
</tr>
}
</tbody>
</table>