@model EXPEDIT.Transactions.ViewModels.AccountViewModel
<table class="table table-striped">
<thead>
<tr><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Licenses) {
<tr>   
<td>
<strong>@(p.ValidFrom.HasValue ? p.ValidFrom.Value.ToString("dd MMMM yyyy") + (p.Expiry.HasValue ? "-" + p.Expiry.Value.ToString("dd MMMM yyyy") : "" ) : "")</strong>
    @foreach (var l in p.LicenseAssets) {
        <h4>&#35; @l.ModelName@*<small>&nbsp;@(l.ProRataCost.HasValue && l.ProRataCost.Value > 0m ? string.Format("Supported @ {0:f2} per {1}", l.ProRataCost, p.ValidForUnitName) : "")</small>*@</h4>
        <h4 style="color:black;">@p.LicenseID</h4>
        foreach (var m in l.LicenseAssetModelParts)
         {
            <p>@m.PartName</p>
         }
    }    
    @foreach (var d in p.LicenseDownloads) {
        <p style="text-align: right;"><a class="btn btn-small" href="/share/download/@d.DownloadID"><i class="glyphicon icon-download-alt"></i>&nbsp;Download @d.Description</a></p>
    }
</td>
</tr>
}
</tbody>
</table>

