@model EXPEDIT.Transactions.ViewModels.PartnerViewModel
@Html.Partial("Header")
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Partner Agreement").ToString();
}
@using (Html.BeginForm("PartnerAgreement", "User", new { area = "EXPEDIT.Transactions" }, FormMethod.Post, new { id = "form1", @class = "form" }))
{
@Html.AntiForgeryToken()
<fieldset>
    <legend>Mining Appstore Partnership Agreement</legend>
    <div class="editor-field">
        @Html.Raw(Model.ContractText)
        <br /><br />
    </div>
    <div class="editor-label">
        <strong>Authorised by:</strong>
    </div>
    <div class="editor-label">
        Company:
    </div>
    <div class="editor-field">
        @if (string.IsNullOrWhiteSpace(Model.Company)) {
            @Html.TextBoxFor(m => m.Company)
        } else {
            @Html.TextBoxFor(m => m.Company, new { @readonly = true })
        }
    </div>
    <div class="editor-label">
        Firstname:
    </div>
    <div class="editor-field">
        @if (string.IsNullOrWhiteSpace(Model.Firstname)) {
            @Html.TextBoxFor(m => m.Firstname)
        } else {
            @Html.TextBoxFor(m => m.Firstname, new { @readonly = true })
        }
    </div>
    <div class="editor-label">
        Surname:
    </div>
    <div class="editor-field">
        @if (string.IsNullOrWhiteSpace(Model.Lastname)) {
            @Html.TextBoxFor(m => m.Lastname)
        } else {
            @Html.TextBoxFor(m => m.Lastname, new { @readonly = true })
        }
    </div>
    @if (Model.IsContractValid) {
        <div class="editor-label">
            @Html.LabelFor(m => m.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Mobile, new { Style = "float: left;display: inline;", placeholder = "Ex. +61 4 00000000" })&nbsp;@Html.Partial("Verify", Model)
        </div>
        <div id="verificationCodeDiv" class="editor-label" style="clear:left;float: inherit;display: none;">
            @Html.LabelFor(m => m.VerificationCode)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.VerificationCode, new { Style = "float: inherit;display: none;" })
        </div>
        @Html.HiddenFor(m => m.TwoStepID)
        <input id="btnPartnerAgreementAgreed" type="submit" value="Agree to Terms" style="display:none;" disabled/>
    }
    else
    {
        <input id="btnPartnerAgreementUpdate" type="submit" value="Update My Details"/>
    }
    @Html.HiddenFor(m => m.ContractID)    
</fieldset>
}
<script type="text/javascript">
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: false,
            success: "valid"
        });
        $("#form1").validate({
            errorPlacement: function (error, element) {
                error.insertBefore(element);
            },
            rules: {
                "Company": {
                    required: true,
                },
                "Mobile" : {
                        required: true,
                },
                "Firstname": {
                    required: true,
                },
                "Lastname": {
                    required: true,
                },
                "VerificationCode": {
                    required: true,
                }
            },
            submitHandler: function(form) {
                form.submit();
            }            
        });
        $("#form1").valid()
</script>